# Dependencies
node_modules/
venv/
env/
.venv

# Logs
logs/
*.log
npm-debug.log*

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# OS
__pycache__/
*.pyc
*.pyo
